<h1 mat-dialog-title>Add new task</h1>
    
      <mat-form-field color="accent" class="full-width">
        <mat-label>Task title</mat-label>
        <input matInput [(ngModel)]="name">
      </mat-form-field>
      <mat-form-field color="accent" class="full-width">
        <mat-label>Task description</mat-label>
        <input matInput [(ngModel)]="description">
      </mat-form-field>
      <mat-checkbox [(ngModel)]="isDescriptionVisible">Show description</mat-checkbox>
    
    <div mat-dialog-actions>
        <button mat-raised-button color="accent" class="full-width" (click)="addTask()">Add task</button>
      <!-- <button mat-button (click)="onNoClick()">No Thanks</button>
      <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
    </div>
