<h1 mat-dialog-title>{{isItEditDialog ? 'Edit task' : 'Add new task'}}</h1>

<mat-form-field color="accent" class="full-width">
  <mat-label>Task title</mat-label>
  <input autocomplete="off" matInput [formControl]="name" id="name" required>
  <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>
<mat-form-field color="accent" class="full-width">
  <mat-label>Task description</mat-label>
  <input autocomplete="off" matInput [(ngModel)]="description">
</mat-form-field>
<mat-checkbox [(ngModel)]="isDescriptionVisible" style="margin: 0 0 5px 0">Show description</mat-checkbox>
<mat-form-field class="full-width" color="accent">
  <mat-label>Panel color</mat-label>
  <mat-select [(ngModel)]="color">
    <mat-option value="#ecf0f1" [appHighlight]="'clouds'">Clouds</mat-option>
    <mat-option value="#2ecc71" [appHighlight]="'emerald'">Emerald</mat-option>
    <mat-option value="#3498db" [appHighlight]="'peterRiver'">Peter river</mat-option>
    <mat-option value="#9b59b6" [appHighlight]="'amethyst'">Amethyst</mat-option>
    <mat-option value="#34495e" [appHighlight]="'wetAsphalt'">Wet Asphalt</mat-option>
    <mat-option value="#f1c40f" [appHighlight]="'sunFlower'">Sun flower</mat-option>
    <mat-option value="#e67e22" [appHighlight]="'carrot'">Carrot</mat-option>
    <mat-option value="#e74c3c" [appHighlight]="'alizarin'">Alizarin</mat-option>
  </mat-select>
</mat-form-field>

<div *ngIf="!isItEditDialog">
  <div mat-dialog-actions>
    <button mat-raised-button color="accent" class="full-width" (click)="addTask()">Add task</button>
  </div>
</div>

<div *ngIf="isItEditDialog">
  <div mat-dialog-actions>
    <button mat-raised-button color="accent" class="full-width" (click)="editTask()" style="margin: 0 0 10px 0">Edit
      task</button>
    <button mat-stroked-button class="full-width" style="margin: 0;" color="warn"
      (dblclick)="deleteTask()">Delete</button>
    <p class="delete-text">Click twice to delete</p>
  </div>
</div>
