<title>Board</title>
<mat-card class="main-container">

  <div class="container">
    <h2>To do</h2>
    <app-board-containter cdkDropList #todoList="cdkDropList" [cdkDropListData]="board.boardContent.todo"
      [cdkDropListConnectedTo]="[doneList, inProgressList, thrashList]" class="list" (cdkDropListDropped)="drop($event)"
      [tasksArray]="board.boardContent.todo" (clickEvent)="openAddingTaskDialog($event)">
    </app-board-containter>
  </div>

  <div class="container">
    <h2>In progress</h2>

    <app-board-containter cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="board.boardContent.inProgress"
      [cdkDropListConnectedTo]="[doneList, todoList, thrashList]" class="list" (cdkDropListDropped)="drop($event)"
      [tasksArray]="board.boardContent.inProgress" (clickEvent)="openAddingTaskDialog($event)">
    </app-board-containter>
  </div>

  <div class="container">
    <h2>Done</h2>

    <app-board-containter cdkDropList #doneList="cdkDropList" [cdkDropListData]="board.boardContent.done"
      [cdkDropListConnectedTo]="[inProgressList, todoList, thrashList]" class="list" (cdkDropListDropped)="drop($event)"
      [tasksArray]="board.boardContent.done" (clickEvent)="openAddingTaskDialog($event)">
    </app-board-containter>
  </div>

  <div class="add-button-container">
    <button mat-fab color="accent" aria-label="Example icon button with a plus one icon"
      (click)="openAddingTaskDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="delete-button-container">
    <button mat-fab color="accent" aria-label="Example icon button with a plus one icon" class="btn-shadow" cdkDropList
      #thrashList="cdkDropList" [cdkDropListData]="thrash" (cdkDropListDropped)="drop($event)"
      (click)="openSnackBar('Drag task there to delete it', 'Close', 3000)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-card>
