<mat-card class="container">
    <div class="example-container">
        <h2>To do</h2>
      
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[doneList, inProgressList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" [ngStyle]="{'border-bottom': 'solid 5px' + item.color}" *ngFor="let item of todo" cdkDrag>
              <div>
                <h2>{{item.name}}</h2>
                <p *ngIf="item.isDescriptionVisible">{{item.description}}</p>
              </div>
              <button mat-icon-button color="black" aria-label="Example icon button with a home icon"z>
                <mat-icon>mode</mat-icon>
              </button>
          </div>
          <!-- <mat-card class="card" *ngFor="let item of todo" cdkDrag>{{item.name}}</mat-card> -->
        </div>
      </div>
    
      <div class="example-container">
        <h2>In progress</h2>
      
        <div
          cdkDropList
          #inProgressList="cdkDropList"
          [cdkDropListData]="inProgress"
          [cdkDropListConnectedTo]="[todoList, doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" [ngStyle]="{'border-bottom': 'solid 5px' + item.color}" *ngFor="let item of inProgress" cdkDrag>
            <div>
                <h2>{{item.name}}</h2>
                <p *ngIf="item.isDescriptionVisible">{{item.description}}</p>
              </div>
              <button mat-icon-button color="black" aria-label="Example icon button with a home icon">
                <mat-icon>mode</mat-icon>
              </button>
          </div>
          <!-- <mat-card class="card" *ngFor="let item of inProgress" cdkDrag>{{item.name}}</mat-card> -->
        </div>
      </div>
      
      <div class="example-container">
        <h2>Done</h2>
      
        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList, inProgressList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" [ngStyle]="{'border-bottom': 'solid 5px' + item.color}" *ngFor="let item of done" cdkDrag>
            <div>
                <h2>{{item.name}}</h2>
                <p *ngIf="item.isDescriptionVisible">{{item.description}}</p>
              </div>
              <button mat-icon-button color="black" aria-label="Example icon button with a home icon">
                <mat-icon>mode</mat-icon>
              </button>
          </div>
          
          <!-- <mat-card class="card" *ngFor="let item of done" cdkDrag>{{item.name}}</mat-card> -->
        </div>
      </div>
      
      <div class="example-button-container">
        <button mat-fab color="accent" aria-label="Example icon button with a plus one icon" (click)="openDialog()">
          <mat-icon>plus_one</mat-icon>
        </button>
      </div>
</mat-card>
